---

---

<button>
  <slot />
</button>

<style>
  button {
    padding: 1.5em 2em;
    max-width: 190px;
    width: 100%;
    border: none;
    background: linear-gradient(to right top, #65dafd, #70fecb);
    color: #fff;
  }
</style>
