---
import MenuToggler from "./MenuToggler.astro";
import SiteLogo from "./SiteLogo.astro";
import SiteNav from "./SiteNav.astro";
---

<header>
  <div class="container">
    <SiteLogo />
    <div class="nav-wrap"><SiteNav /></div>
    <MenuToggler />
  </div>
</header>

<style>
  header {
    background-color: #222222;
    padding-block: 1rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-wrap {
    display: none;
    @media (min-width: 768px) {
      display: contents;
    }
  }
</style>
