---

---

<nav>
  <a href="/#sect-games">Игры</a>
  <a href="/#sect-other">Прочее</a>
  <a href="/registration">Регистрация</a>
</nav>

<style>
  nav {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }

  a {
    color: #fff;
  }
</style>
