---

---

<section>
  <div class="container">
    <h2>А ещё у нас уютный дискорд сервер</h2>
    <div class="inner shadow">
      <h3>Го к нам</h3>
      <hr />
      <button>
        <span class="text">Кликай тут</span>
        <span class="btn">Записаться</span>
      </button>
    </div>
  </div>
</section>

<style>
  section {
    padding-block: 2.5rem;
  }

  h2 {
    color: var(--c-title);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .inner {
    padding: 1.5rem;
  }

  h3 {
    color: var(--c-title);
    text-align: center;
  }

  hr {
    max-width: 250px;
    margin: 1.5rem auto;
  }

  button {
    background-color: var(--c-title);
    padding: 2.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 100%;

    & .text {
      font-size: 1.5rem;
      line-height: 1;
      color: white;
      font-weight: 700;
    }

    & .btn {
      background-color: black;
      color: white;
      line-height: 2.5;
      padding-inline: 1rem;
    }
  }
</style>
